/* .formselect{
    display: flex;
    flex-direction: row-reverse
} */


/*
 .select{
     /* display: flex; */
  /*  appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    border: none;
    overflow:hidden;
    background: none;
    font-size:18px;
  
    /* padding-right: 76px;
    display: flex; */
 /*   width: 300px;
   text-align: left; 
   direction: ltr;
   width: 200px;

}
  
 .option{
    direction: ltr!important;
 
     font-size: 20px; 
    text-align: center;

    right: 0!important;
    padding: 0!important;
    margin: 0!important;
 
} 
*/

/* .label2{
    
  
} */
/* .label{
    z-index: -99;
    position: absolute;
  ;
   
     
   
   } */
 



