@import '~antd/dist/antd.css';

.ant-card-meta-description {
    color: black;
}
.ant-card-actions {
    margin: 0;
    padding: 0;
    list-style: none;
    /* background: #fff; */
    /* border-top: 1px solid #f0f0f0; */
}
.ant-card-actions > li > span a:not(.ant-btn), .ant-card-actions > li > span > .anticon {
    display: inline-block;
    width: 100%;
    color: black;
    line-height: 22px;
    transition: color 0.3s;
    font-size: 15px;
    position: relative;
}

.sourcesParagraph {
    font-size: 30px;
    font-weight: 400;
}

.ant-card-body {
    padding: 7px;
}

.icons {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    line-height: 22px;
    transition: color 0.3s;
    font-size: 20px;
    padding: 7px;
    /*background:#C4C4C4;*/
}
.icons > a {
    color: black;

}
.icons > :first-child {
    margin-right: 25px;
}

.icons > :last-child {
    margin-left: 25px;
}
.icons > a:hover {
    background-color: white;
}
/*.ant-card ant-card-bordered {*/
/*    width: 396px;background: rgb(196, 196, 196);margin-bottom: 20px;height: 225px;*/
/*}*/
/*width: 396px;background: rgb(196, 196, 196);margin-bottom: 20px;height: 225px;*/